
.App {
  text-align: center;
  height: 100vh;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgray;
}

.navbar {
  width: 100%;
  padding: 0 !important;
  height: 70px;
  background-color: rgb(90, 104, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  -webkit-box-shadow: 0px -9px 31px 43px rgba(90, 104, 255, 1);
  -moz-box-shadow: 0px -9px 31px 43px rgba(90, 104, 255, 1);
  box-shadow: 0px -9px 31px 43px rgba(90, 104, 255, 1);
}

@media(max-width:1000px)
{
  .navbar{
    
  height:min-content;
  align-items: center;
  justify-content: space-between;
  
  flex-direction: column;
  
  }
#logo
{
  width: 200px !important;
  margin: 0px;
  color: white;
  font-style: italic;
  font-size: 30px;
  height: 100px !important;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background: url(../logogif.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size:100%;
}
}
#ogloszonka{

  width: 200px;
  height: 200px;
  display: flex;
  
}

.ogloszenie{
 min-height: 360px;
  width: 200px;
  background-color: darkgray;
  margin: 10px;
  margin-left: 50px;
  margin-top: 50px;
  float: left;
}
@media(max-width:1000px)
{
  .ogloszenie
  {
    height:auto;
    width:70vw;
margin-left: 15vw;
  }
}
.pedal{
  background: url(../nigga.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:100%;
  height: 80vh;
}

#logo{
 margin-top: -10px;
  width: 300px;
  margin-left: 0px;
  color: white;
  font-style: italic;
  font-size: 30px;
  height: 100%;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  background: url(../logogif.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
}

.navbar .links {
  text-align: center;
  margin: 0;

  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}



.btn{
  margin: 15px;
 }

.navbar .user {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 100%;
}

.navbar button{
  margin-left: 20px;
}

.user p {
  font-size: 15px;
  
  color: white;
  margin: 10px;

}

.user
{
  margin: 0;
}

.user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

input,
textarea {
  font-family: "Nunito", sans-serif;
}

.create-post {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
form {
  margin-top: 50px;
  padding: 30px 20px;
  width: 320px;
  border-radius: 7px;
  background-color: white;
  backdrop-filter: blur(5px);
  background-color: rgba(43, 0, 255, 0.588);
  overflow: hidden;
}

input,
textarea {
  padding: 8px 10px;
  margin: 3px 8px 16px 8px;
  background-color: rgba(222, 239, 248, 0.877);
  border: 0px transparent;
  border-radius: 5px;
  color: rgb(97, 4, 184);
  font-size: 16px;
  z-index: 1;
}

.submitForm:hover {
  cursor: pointer;
}

.title{
  font-weight: bold;
  font-size: 25px;
}
.postphoto
{
  width: 200px;
  height: auto;
}
.btn-outline-danger
{
  margin: 5px;
}
.posts
{
  width: 100%;
  display: flex;
  justify-content: center;
}
.inpost
{
  width: 300px;
}
form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}